#center{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content{
  text-align: center;
}

h1, h2{font-family: "Open Sans", sans-serif;}
h1{
  font-size: 48px;
}
h2{
  font-weight: 300;
}
