/*
Source code is available under MIT License
License text is available at https://github.com/m4l3vich/m4l3vich.ru/blob/master/LICENSE.md
*/

.name,
caption {
    font-family: "Open Sans", sans-serif;
    color: #fff
}

.name,
.notification,
caption,
h2 {
    font-family: "Open Sans", sans-serif
}

.function,
.projlink>a,
caption,
h2 {
    font-weight: 300
}

#newtab,
tr {
    transition: .5s
}

#content,
#projects {
    display: flex;
    transition: .8s ease-in-out
}

#content,
#main,
#projects {
    transition: .8s ease-in-out
}

#projects,
#squares {
    width: 100vw;
    height: 100vh;
    position: absolute
}

#projects,
#squares,
.notification {
    position: absolute
}

#links,
.divider {
    box-sizing: border-box
}

body {
    background: linear-gradient(135deg, #6a1b9a 0, #512da8 100%);
    margin: 0
}

h2 {
    font-size: 16px
}

a {
    transition: .2s ease-in-out;
    text-decoration: none
}

a:hover {
    opacity: .6
}

caption {
    font-size: 36px;
    margin-bottom: 20px
}

tr {
    z-index: 100 !important
}

tr:hover {
    background: rgba(255, 255, 255, .2)
}

.notification {
    max-width: 400px;
    max-height: 80px;
    top: 0;
    left: 0;
    font-size: 14px;
    animation: notification .8s ease-in-out;
    padding: 15px;
    margin: 20px;
    background: #fff;
    opacity: .8;
    border-radius: 15px
}

#s4,
#s5,
#s6 {
    top: -100%
}

@keyframes notification {
    from {
        transform: translateY(-200%)
    }
    to {
        transform: translateY(0)
    }
}

.name {
    font-size: 20px;
    min-width: 100px;
    text-align: right;
    padding: 20px
}

.function,
.projlink {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    font-family: "Open Sans", sans-serif
}

.function {
    min-width: 200px;
    text-align: center
}

.projlink {
    min-width: 150px;
    text-align: left
}

#centered,
#projcentered {
    text-align: center
}

.projlink>a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff
}

#bloglink {
    color: #B388FF
}

#ghpages {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    opacity: .2
}

#ghpages>a {
    font-weight: 500;
    color: #fff
}

#newtab {
    color: #fff
}

#content * {
    pointer-events: auto
}

#content {
    pointer-events: none;
    height: 100vh;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center
}

#projcentered {
    padding-top: 80px
}

#centered * {
    display: auto
}

#content.shown {
    transform: translateY(0)
}

@media only screen and (min-device-width :320px) and (max-device-width :480px) {
    #content.hidden {
        transform: translateY(-40vh)
    }
}

@media only screen and (min-device-width :768px) {
    #content.hidden {
        transform: translateY(-60vh)
    }
}

#content.shown #main {
    opacity: 1
}

#content.hidden #main {
    opacity: 0
}

#content.shown #main * {
    pointer-events: auto
}

#content.hidden #main * {
    pointer-events: none
}

#projects {
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center
}

#projects.shown {
    transform: scale(1);
    opacity: 1
}

#projects.hidden {
    transform: scale(.8);
    opacity: 0
}

#nickname {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin: 3px 0 30px;
    text-shadow: rgba(0, 0, 0, .48) 2.83px 2.83px 8px;
    color: #fff
}

#squares {
    overflow: hidden;
    z-index: -2
}

#links {
    height: 50px;
    width: 800px;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    text-align: left
}

#links * {
    display: inline-block
}

#s1 {
    top: -14vh;
    left: -2vw
}

#s2 {
    top: -17%;
    left: 33%
}

#s3 {
    top: -42%;
    left: 60%
}

#s4 {
    left: 2%
}

#s5 {
    left: -8%
}

#s6 {
    left: -10%
}

#downwards {
    transform: rotate(0);
    transition: transform .8s ease-in-out
}

#downwards.inverted {
    transform: rotate(180deg)
}

#downwards:hover {
    cursor: pointer
}

.link {
    text-align: center;
    width: 150px
}

.linkcontent {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: relative;
    top: -9px;
    font-size: 18px;
    text-transform: uppercase
}

.divider {
    width: 2px;
    height: 44px;
    padding-top: 6px
}

.divider>div {
    background: rgba(255, 255, 255, .2);
    width: 2px;
    display: relative;
    height: 32px
}

.square {
    user-drag: none;
    user-select: none;
    position: relative
}